h1,h2,h3,h4,h5,h6,img,body,ul,li,form,table,img,p{padding:0;margin:0;}
ul li{list-style: none;}
a{text-decoration: none;}
img{border:none;vertical-align: middle;}
.clear{clear: both;display: block;height:0;content:'.';vertical-align: middle;overflow: hidden;}